body {
  background: #222222;
  color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nanum Gothic Coding', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background: white;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  border-right: 4px solid rgba(0, 0, 0, 0.1);
  font-family: 'Nanum Gothic Coding', Tahoma, sans-serif;
  height: 100vh;
  margin: 0 auto;
  width: 900px;
}

.header {
  align-items: center;
  background: black;
  display: flex;
  justify-content: space-between;
}

.main-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 25px 0 25px 25px;
  text-align: left;
}

#basic-details {
  background: #1abc8f;
  border-top: 8px solid rgba(0, 0, 0, 0.1);
  border-bottom: 8px solid rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 60px 0 30px;
}

.basic-details-item {
  font-weight: 600;
  text-transform: capitalize;
}

#daily-chart {
  margin: 50px 65px 25px auto;
}

.flex-column {
  text-align: right;
}

.flex-column ul {
  list-style-type: none;
}

.flex-column li {
  padding: 7px;
}

#text-input {
  border: 2px solid black;
  border-radius: 4px;
  height: 34px;
  font-size: 1.3rem;
  margin: 1px 20px 0 0;
  padding-bottom: 3px;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
}